* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5f5f5f;
    --secondary-color: #000099;
    --highlight-color: #990000;
    --neutrual-color: #006400;
    --dark-color: #333;
    --light-color: #fff;
}

body {
    background: #f4f4f4;
    background-image: url("../images/boxingbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 2px 2px 5px #333;
    height: 100vh;
}

/* utilities */
.txt-lg { text-transform: uppercase; }
.txt-sm { 
    font-size: 0.7rem;
    line-height: 0.5;
}
.txt-center { 
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--light-color);
}
a:hover {
    color: var(--highlight-color);
}

.title {
    margin-top: 0.7rem;
    margin-bottom: 1.3rem;
    color: var(--light-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.boxer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 2.5rem;
    margin-left: 1.25rem;
    border: 2px solid #333;
    background: var(--light-color);
    opacity: 0.8;
}

.btn {    
    padding: 15px 15px;
    margin-top: 1.25rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    border: 1px solid #ffd60a;
    opacity: 0.5;;
}

.btn-dark {
    background: var(--highlight-color);
    color: var(--light-color); 
}

.btn-green {
    background: var(--neutrual-color);
    color: var(--light-color);
    margin-left: 8rem;
    margin-right: 8rem;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.25rem;
}

.box-lg {
    background: var(--dark-color);
    color: var(--light-color);
    margin-top: 10px;    
    width: 5rem;
    height: 4rem;
    text-align: center;
    font-size: 3.75rem;
    border-radius: 5px;    
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    background: var(--dark-color);
    border-radius: 5px;
}

.para {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    color: var(--light-color);
    margin-top: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: var(--dark-color);
    color: var(--light-color);
    padding: 20px;
}
